<li class="span6">
  <div class="thumbnail">
    <div class="media">
      <a class="pull-left cover-art"><img></a>
      <div class="media-body">
        <h3 class="media-heading"><a class="album-title"></a></h3>
        <h4 class="album-artist muted"></h4>
        <h6 class="muted">
          <span class="album-media"></span> — <span class="album-label"></span>
        </h6>
        <div class="fade">
          <p class="muted">
            <small class="owners"></small>
          </p>
        </div>
        <div class="buttons fade">
        </div>
      </div>
    </div>
  </div>
</li>
