<div class="row">
  <div class="span3 cover-art">
    <p>
    <img class="img-polaroid">
    <p>
    <a class="logged-in btn btn-block btn-left btn-primary">
      <i class="icon-play"></i> Scrobble
    </a>
    <p>
    <a id="library-add" class="logged-in btn btn-block btn-left btn-success">
      <i class="icon-plus"></i> Add to library
    </a>
    <a id="library-remove" class="logged-in btn btn-block btn-left btn-danger">
      <i class="icon-minus"></i> Remove from library
    </a>
  </div>
  <div class="span9">
    <h1 id="album-title"></h1>
    <h2 id="album-artist" class="muted"></h2>
    <h5 class="muted">
      <span id="album-media"></span> — <span id="album-label"></span>
    </h5>
    <div class="row">
      <div class="span7">
        <table class="table table-condensed">
        </table>
      </div>
      <div class="span2">
      </div>
    </div>
  </div>
</div>
