<div class="album-thumb col-lg-6">
  <div class="thumbnail">
    <div class="media">
      <a class="cover-art pull-left"><img></a>
      <div class="media-body">
        <h3 class="media-heading"><a class="album-title"></a></h3>
        <h4 class="album-artist"></h4>
        <h6>
          <span class="album-media"></span> — <span class="album-label"></span>
        </h6>
        <div class="fade">
          <p><small class="owners"></small></p>
        </div>
        <div class="buttons fade">
        </div>
      </div>
    </div>
  </div>
</div>
