<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title></title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      #search { margin: 25px 0 15px; }
      .thumbnail { height: 270px; margin-bottom: 15px; position: relative; }
      .buttons { position: absolute; bottom: 4px; right: 4px; }
      .cover-art img { width: 260px; }
      .btn-left { text-align: left; padding-left: 10px; }
      .table td.text-right { text-align: right; }
    </style>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Spibble</a>

        <ul class="nav navbar-nav">
          <li id="albums"><a href="/albums">Albums</a></li>
          <li id="about"><a href="/about">About</a></li>
        </ul>

        <a class="logged-out pull-right btn btn-primary navbar-btn" href="/login">
          <i class="icon-signin"></i> Log in with Last.fm
        </a>

        <ul class="logged-in pull-right nav navbar-nav">
          <li id="library"><a id="user" class="library"></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="library">
                <i class="icon-fixed-width icon-music"></i> Library
              </a></li>
              <li class="divider"></li>
              <li><a href="/logout">
                <i class="icon-fixed-width icon-signout"></i> Log out
              </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div id="content">
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script src="/js/spibble.js"></script>
  </body>
</html>
