<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title></title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <style>
      #content { margin-top: 10px; }
      .form-search { margin: 15px; }
      .thumbnail { height: 260px; position: relative; }
      .buttons { position: absolute; bottom: 4px; right: 4px; }
      .cover-art img { width: 260px; }
      .btn-left { text-align: left; padding-left: 10px; }
    </style>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Spibble</a>

          <ul class="nav">
            <li id="albums"><a href="/albums">Albums</a></li>
            <li id="about"><a href="/about">About</a></li>
          </ul>

          <ul class="nav pull-right logged-out">
            <li><a href="/login">
              <i class="icon-signin"></i> Log in
            </a></li>
          </ul>

          <ul class="nav pull-right logged-in">
            <li id="library"><a id="user" class="library"></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-caret-down"></i>
              </a>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a class="library">
                  <i class="icon-fixed-width icon-music"></i> Library
                </a></li>
                <li class="divider"></li>
                <li><a href="/logout">
                  <i class="icon-fixed-width icon-signout"></i> Log out
                </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="content">
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        $('.thumbnail').mouseenter(function() {
          $(this).find('.fade').addClass('in');
        }).mouseleave(function() {
          $(this).find('.fade').removeClass('in');
        });

        $('.search-query').focus(function() {
          $(this).one('mouseup', function() {
            return false;
          }).select();
        });

        function albumButton() {
          var parent = $(this).parent();
          $.get(this.href, function(data) {
            var html = $(data);
            html.click(albumButton);
            parent.html(html);
          });
          return false;
        }
        $('.album-button').click(albumButton);
      });
    </script>
    <script>$(function(){var k=[],o='38,38,40,40,37,39,37,39,66,65,13';$(document).keydown(function(e){k.push(e.keyCode);if(k.toString().indexOf(o)>=0){$('a').toggleClass('icon-spin');k=[]}})})</script>
  </body>
</html>
